---
import Layout from "../../layouts/Layout.astro";
import { CollectionEntry, getEntryBySlug } from "astro:content";

import getArt from "../../utils/getArt";

const { slug } = Astro.params;
if (slug === undefined) {
  throw new Error("Slug is required");
}

const entry: CollectionEntry<"art"> | undefined = await getEntryBySlug(
  "art",
  slug
);
const artList = await getArt();
const currentIndex = artList.findIndex((art) => art.slug === slug);
const prevPage =
  currentIndex > 0
    ? artList[currentIndex - 1].slug
    : artList[artList.length - 1].slug;
const nextPage =
  currentIndex < artList.length - 1
    ? artList[currentIndex + 1].slug
    : artList[0].slug;
const { Content, headings } = await entry.render();
if (entry === undefined) {
  return Astro.redirect("/404");
}
---

<Layout title={entry.data.title}>
  <main class="flex flex-col gap-y-3" transition:animate="fade">
    <img
      src={entry.data.src}
      alt={entry.data.title}
      class={`img-fade aspect-auto`}
      width={1400}
      height={1400}
    />
    <h3>{entry.data.title}</h3><Content />
    <div class="flex w-full justify-between">
      <button><a href={`/art/${prevPage}`}>previous</a></button>
      <button><a href={`/art/${nextPage}`}>next</a></button>
    </div>
  </main>
</Layout>
<style>
  h3 {
    font-family: var(--inconsolata);
    font-size: 1.5rem;
    font-weight: 300;
  }
  button {
    font-family: var(--athiti);
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--accent-4);
  }
</style>
